

header {    
  display: flex;
  background-color: #506D84;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  position: relative;
  height: 10vh;
  width: 100%;
}

.title p {
  color: #889EAF;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

input {
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(97, 218, 251);
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;
}

h3{
  border-bottom: 0px solid rgb(97, 218, 251) ;
  color: rgb(40, 44, 52);
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

img{ 
  font-size: 12px;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;
  margin-bottom: auto;
  width: 220px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(40, 44, 52);
  border-radius: 5px;
  font-size: 12px;
}

.Button {
  background-color: #D4B499;
  color: #4A403A;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
  /* margin-bottom: 250px; */
}

ol li {
  color: white;
}
